<article id='header-nav'>

    <section>
        <nav>
            <a href="/">
             Sale
            </a>
            <a href="/">
              Classics
            </a>
            <a href="/">
                New  
            </a>
            <a href="/">
                All 
            </a>
        </nav>
    </section>

    <section>
        <h1>Shop</h1>
    </section>

    <section>
        <div>
            <label for="searchBar">
                <img alt="search icon" src="">
            </label>
            <input type="text" placeholder="search" id="searchBar" name="searchBar"> 
        </div>
        <nav>
          <a href="">
            <img alt="cart icon" src="">
          </a>
        <a href="">
            <img alt="settings icon" src="">
        </a>
        </nav>
    </section>
</article>