:host {
    --primary: #1d1128;
    --secondary: #6d72c3;
    --accent: #673ab7;
    --textColor: #e5d4ed;
    --backgroundColor: #514f59;
    --regFont: 'Montserrat', sans-serif;
    --headFont: 'Bebas Neue', sans-serif;
    --listFont: 'Lato', sans-serif;
}

*{
    background-color: var(--backgroundColor);
}
