<article>
    <section class="cart-header">
    <h1>My Cart</h1>
    <img width="50" height="50" src="https://img.icons8.com/ios/50/shopping-cart--v1.png" alt="shopping-cart--v1" />             
    </section>



    <section class="cart-body">

        <div class="item">
            <img src="" alt="example">

            <div class="item-info">
                <h4>Price</h4>

                <p>Description</p>

                <span>
                    <p>Color</p>
                    <p>Size</p>
                    <p>Quantity</p>
                </span>

            <button>Save For Later</button>
            
            </div>

        </div>
        
        <div class="spacer"></div>

        <div class="checkout">
            <h2>Total</h2>

             <span> 
                <h3>Sub-Total</h3>
             </span>

            <span>
                <h3>Dilevery</h3>
            </span>

            <button>Checkout</button>
        </div>
        
    </section>

</article>
