<article id="catalog">

    <aside>
    
        <div class="filter-name">

        <div>
            <label for="New">
                New
            </label>
        
            <input type="checkbox" id="New" name="New">
        </div>
        
        <div>
            <label for="Sale">
                Sale
            </label>
        
            <input type="checkbox" id="Sale" name="Sale">
        </div>
        
        <div>
            <label for="Classics">
                Classics
            </label>
        
            <input type="checkbox" id="Classics" name="Classics">
        </div>

        </div>

        <div class="filter-color">
        <input type="color" id="head" name="head" value="#FF0000" />
        <input type="color" id="head" name="head" value="#0000FF" />
        <input type="color" id="head" name="head" value="#00FF00" />
        </div>

    </aside>


    <section>
        <h1>Render The Api Call</h1>
    </section>

</article>
