<article id="catalog">
<section class="example-section">
    <span class="example-list-section">
        <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
            [indeterminate]="someComplete()" (change)="setAll($event.checked)">
            {{task.name}}
        </mat-checkbox>
    </span>
    <span class="example-list-section">
        <ul>
            @for (subtask of task.subtasks; track subtask) {
            <li>
                <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                    (ngModelChange)="updateAllComplete()">
                    {{subtask.name}}
                </mat-checkbox>
            </li>
            }
        </ul>
    </span>
</section>

<mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option>One fish</mat-chip-option>
    <mat-chip-option>Two fish</mat-chip-option>
    <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
    <mat-chip-option color="warn">Warn fish</mat-chip-option>
</mat-chip-listbox>

</article>


<mat-grid-list cols="2" rowHeight="1:1">
@for (item of products$(); track item.id) {

            <mat-grid-tile>
<mat-card class="item">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>
            ${{item.price}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img mat-card-image src={{item.image}} alt={{item.description}}>
        <p>
{{item.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="cart(item._id)">ADD TO CART</button>
        <button mat-button (click)="favorite(item._id)">SAVE FOR LATER</button>
    </mat-card-actions>
    <a [routerLink]="['/product',item._id]">Click For More</a>
</mat-card>
</mat-grid-tile>
} @empty {
<h1>There Are No Products Currently Avaiable</h1>
}
</mat-grid-list>